/* colors */
$color-purple: #9013fe;
$color-purple-dark: #7828b4;
$color-gray-lighter: #f2f2f2;
$color-gray-light: #ebebeb;
$color-gray: #d7d7d7;
$color-gray-dark: #9b9b9b;
$color-white: #ffffff;
$color-black: #000000;

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background: $color-gray-lighter;
}
