/* background classes */
.bg-black {
  background-color: $color-black;
}
.bg-white {
  background-color: $color-white;
}

/* border classes */
.radius {
  border-radius: 3px;
}

/* color classes */
.black {
  color: $color-black;
}
.blue {
  color: $color-blue;
}
.gray {
  color: $color-gray;
}
.green {
  color: $color-green;
}
.red {
  color: $color-red;
}
.white {
  color: $color-white;
}

/* font classes */
.bold {
  font-weight: bold;
}
.font-16 {
  font-size: 16px;
}
.font-24 {
  font-size: 24px;
}
.font-36 {
  font-size: 36px;
}
