/* color vars*/
$color-white: #ffffff;
$color-black: #000000;
$color-red: #d0021b;
$color-yellow: #f5a623;
$color-blue: #4a90e2;
$color-green: #7ed321;
$color-gray-lighter: #f2f2f2;
$color-gray-light: #e1e1e1;
$color-gray: #c8c8c8;
$color-gray-dark: #757575;

$radius: 3px;
